{% extends "base.html" %}

{% block content %}
    <h1>Производство мебели</h1>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Общее время производства (мин)</th>
            <th>Действия</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product['id'] }}</td>
            <td>{{ product['title'] }}</td>
            <td>{{ product['total_time'] }}</td>
            <td>
                <a href="{{ url_for('edit_product', id=product['id']) }}">Редактировать</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}